$dark-tone: #131313;
$light-tone: #f5f5f5;

$red-tone-1: #7e1212;
$red-tone-2: #d62929;
$red-tone-3: #e26161;

$blue-tone-1: #0f156b;
$blue-tone-2: #292cd6;
$blue-tone-3: #616ae2;

$green-tone-1: #0f6b14;
$green-tone-2: #29d632;
$green-tone-3: #61e272;

$yellow-tone-1: #867514;
$yellow-tone-2: #f0da16;
$yellow-tone-3: #dfdc4c;

$orange-tone-1: #7c3200;
$orange-tone-2: #f07f16;
$orange-tone-3: #dd8e4d;

$purple-tone-1: #5f007c;
$purple-tone-2: #b90cdb;
$purple-tone-3: #c768da;
